{% extends 'ShopIlluminationAdminBundle::base.html.twig' %}
{% block title %}Demo Area: Icons | {{ parent() }}{% endblock %}
{% block breadcrumbs %}
    <div class="widget-group clearfix">
        <a class="fr button button-small icon-grey" data-icon-primary="icon-473" href="{{ path('demo_index') }}">Go Back</a>
        <div class="widget widget-1-of-1">
            <ul class="breadcrumbs" itemprop="breadcrumb">
                <li><a href="{{ path('demo_icons') }}">Icons</a></li>
                <li><a href="{{ path('demo_index') }}">Demo Area</a></li>
                <li><a href="{{ path('homepage') }}">Home</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
{% block header %}
    <header>
        <span class="mrm ui-button-icon-primary ui-icon icon-black icon-429"></span>
        <h1>Demo Area: Icons</h1>
    </header>
{% endblock %}
{% block body %}
    <section>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Black Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..1400 %}
                            <span title="ui-icon icon-black icon-{{ i }}" class="fl ui-button-icon-primary ui-icon icon-black icon-{{ i }}"></span>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Black Button Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..22 %}
                            <button class="button icon-black" title="icon-black icon-{{ i }}" data-icon-primary="icon-{{ i }}" data-icon-only="true"></button>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Grey Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..28 %}
                            <span title="icon-grey icon-{{ i }}" class="fl ui-button-icon-primary ui-icon icon-grey icon-{{ i }}"></span>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Grey Button Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..22 %}
                            <button class="button icon-grey" title="icon-grey icon-{{ i }}" data-icon-primary="icon-{{ i }}" data-icon-only="true"></button>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>White Icons</h2>
                    </header>
                    <section class="ui-widget-content background-grey ui-corner-bottom clearfix">
                        {% for i in 1..28 %}
                            <span title="icon-white icon-{{ i }}" class="fl ui-button-icon-primary ui-icon icon-white icon-{{ i }}"></span>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>White Button Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..22 %}
                            <button class="button button-black icon-white" title="icon-white icon-{{ i }}" data-icon-primary="icon-{{ i }}" data-icon-only="true"></button>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Dark Red Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..28 %}
                            <span title="icon-dark-red icon-{{ i }}" class="fl ui-button-icon-primary ui-icon icon-dark-red icon-{{ i }}"></span>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Dark Red Button Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..22 %}
                            <button class="button icon-dark-red" title="icon-dark-red icon-{{ i }}" data-icon-primary="icon-{{ i }}" data-icon-only="true"></button>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Red Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..28 %}
                            <span title="icon-red icon-{{ i }}" class="fl ui-button-icon-primary ui-icon icon-red icon-{{ i }}"></span>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Red Button Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..22 %}
                            <button class="button icon-red" title="icon-red icon-{{ i }}" data-icon-primary="icon-{{ i }}" data-icon-only="true"></button>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Brown Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..28 %}
                            <span title="icon-brown icon-{{ i }}" class="fl ui-button-icon-primary ui-icon icon-brown icon-{{ i }}"></span>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Brown Button Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..22 %}
                            <button class="button icon-brown" title="icon-brown icon-{{ i }}" data-icon-primary="icon-{{ i }}" data-icon-only="true"></button>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>

        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Dark Orange Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..28 %}
                            <span title="icon-dark-orange icon-{{ i }}" class="fl ui-button-icon-primary ui-icon icon-dark-orange icon-{{ i }}"></span>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Dark Orange Button Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..22 %}
                            <button class="button icon-dark-orange" title="icon-dark-orange icon-{{ i }}" data-icon-primary="icon-{{ i }}" data-icon-only="true"></button>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Orange Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..28 %}
                            <span title="icon-orange icon-{{ i }}" class="fl ui-button-icon-primary ui-icon icon-orange icon-{{ i }}"></span>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Orange Button Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..22 %}
                            <button class="button icon-orange" title="icon-orange icon-{{ i }}" data-icon-primary="icon-{{ i }}" data-icon-only="true"></button>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Yellow Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..28 %}
                            <span title="icon-yellow icon-{{ i }}" class="fl ui-button-icon-primary ui-icon icon-yellow icon-{{ i }}"></span>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Yellow Button Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..22 %}
                            <button class="button icon-yellow" title="icon-yellow icon-{{ i }}" data-icon-primary="icon-{{ i }}" data-icon-only="true"></button>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>

        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Lime Green Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..28 %}
                            <span title="icon-lime-green icon-{{ i }}" class="fl ui-button-icon-primary ui-icon icon-lime-green icon-{{ i }}"></span>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Lime Green Button Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..22 %}
                            <button class="button icon-lime-green" title="icon-lime-green icon-{{ i }}" data-icon-primary="icon-{{ i }}" data-icon-only="true"></button>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Green Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..28 %}
                            <span title="icon-green icon-{{ i }}" class="fl ui-button-icon-primary ui-icon icon-green icon-{{ i }}"></span>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Green Button Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..22 %}
                            <button class="button icon-green" title="icon-green icon-{{ i }}" data-icon-primary="icon-{{ i }}" data-icon-only="true"></button>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Purple Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..28 %}
                            <span title="icon-purple icon-{{ i }}" class="fl ui-button-icon-primary ui-icon icon-purple icon-{{ i }}"></span>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Purple Button Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..22 %}
                            <button class="button icon-purple" title="icon-purple icon-{{ i }}" data-icon-primary="icon-{{ i }}" data-icon-only="true"></button>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}